.container_main{
	display: flex;
	margin: 8rem 14rem;
}
.leftHandContainer{
	margin-top: 5rem;
}
.rightHandContainer{
padding-left: 0rem;	
margin-top: -19px;
}
.helloFriend,.helpHow{
	font-size: 37px;
	font-weight: bold;
	line-height: 0.9;
}
.mail_content{
	display: flex;
	margin:38px 14rem 0px 0rem;
	line-height: 0.3;
}
.sendMessage{
	font-size: 20px;
	margin-bottom: 1rem;
	text-align: center;
	
}
.form{
	background-color:rgb(230,230,230);;
	border: 0.009px solid grey;
	border-radius: 15px;
	padding: 2rem;
}
.inputType{
 margin: 20px 0px auto;
  border-radius: 11px;
  height: 36px;
  width: 22rem;
  text-align: center;
  background-color:rgb(255,250,240);
}
.formSmallElement{
	margin:1rem 0rem 0.5rem 0rem;
}
textArea{
	border-radius: 9px;
}
.btn{
	margin-top: 1rem;
	background-color: #1F4788;
	color: white;
	height: 2rem;
	width: 7rem;
	text-align: center;
}
.mail_box{
	width: 3rem;
	height: 3rem;
	margin-right: 1rem;
  margin-top: -1rem;
}


/*..................................................responsive..............................................*/

@media (max-width:512px){

.container_main {
  display: flex;
  flex-direction: column;
  margin: 3rem 2rem;
}
.leftHandContainer {
  margin: 5rem 2rem 6rem 3rem;
}
.inputType {
  margin: -2rem 2rem 1rem auto;
  width: 19rem;
 
}
.label_holder{
	margin-left: -10px;
}
textArea {
  border-radius: 9px;
  width: 18rem;
}
}

@media (max-width:360px){
	  .container_main {
    margin: 3rem 0rem;
  }
.form{
	background-color:rgb(230,230,230);;
	border: 0px;

}
	}