body {
  margin: 0;
    background-color: rgb(230,230,230);
}

#light{
  background-color: "white";
}
#dark{
  background-color: "black";
}
.topnav.name_user{
  margin-left: 6px;
  position: relative;
  top:-2px;
  font-size: 20px;
  font-family: proxima;
}
.name_user:hover{
  height: 3rem;
  width: 10rem;
  background-color:#3E455D;
  border-radius: 23px;
  font-size: 18px;
  color: white;
  position: fixed;
}
.name_user{
  font-size: 25px;
  position: absolute;
  top:-8px;
}
.name_user,.topnavight a{
  margin-top:14px;

}
.topnav {
  background-color:#3E455D;
  height: 58px;
  margin-right: 1rem;
  position: fixed;
  top: 0px;
  width: 100%;
}
.topnav a {
  float: left;
  color: #DFDFDF;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.topnav .name_user:hover {
   padding-left: 1rem;
}
.topnav a:not(.name_user):hover {
  font-size: 15px;
  height: 3rem;
  padding-left: 1rem;
  color: white;


}

.topnav a.active {
  background-color: #04AA6D;
  color: white;

}

.topnav-right {
  float:right;
}
.icons_menuAndCross{
  display: none;
}
.menu_bar{
 position: absolute;
  top: 1rem;
  right: 0rem;
  height: 3rem;
  width: 4rem;
}
/*..............................................main.....................................topnav-right*/

.main_content{
 display:flex;
 flex-direction:row;
 margin-top:123px;
 margin-left:0px;

}


 .my_image{
height: 24rem;
  width: 24rem;
  border-radius: 50%;
  margin-left:12rem;
}
.my_info{
 height: 24rem;
  width: 20rem;
margin: 1rem 0rem 0rem 3rem;
}
.introduction{
  font-size: 63px;
  line-height: 90px;
}
.aBit{
  font-size: 23px;
  line-height: 0px;
}
article{
  font-size: 13px;
}
.svg_circle{
  display: flex;
  flex-direction: row;
}
.projects{
  margin-top: 34px;
  background-color: black;
}

/*........................................footer content ...........................................*/
.footer_container{
  background-color:#272727;
  width:100%;
  height:15rem;
  margin-top: 3rem;
}
.container{
  margin-top: 33rem;

}
.icon_container{
  display: flex;
  justify-content: center;
  margin-left:1rem;
}
.github,.linkedIn,.fb{
  background-color: white;
  border-radius: 50%;
  width: 30px;
  height: 29px;
  margin: 3rem 1rem auto;
}
.text_container_footer{
  margin-top: 40px;
  color: white;
  text-align: center;
}
.icon_container > a{
  color: black;
}
.copyright{
  color:#808080;
}

/*..........................................responsive...................*/

@media (max-width:512px){
.icons_menuAndCross{
  display: block;
}
.topnav-right {
  display: flex;
  flex-direction: column;
  margin: 4rem 1rem 1rem 3rem;  
}
.hide_menu_bar{
  display: none;
}
.menu_bar {
  position: absolute;
  top: 1rem;
  right: 1rem;
  height: 2rem;
  width: 2rem;
}
.topnav-right{
  background-color: black;
  margin: 58px 0px auto;
}
.topnav a:not(.name_user):hover {
  color:grey;
}
.main_content{
 display:flex;
 flex-direction:column;
 margin-top:123px;
 margin-left:100px;
}
 .my_image{
height: 14rem;
  width: 14rem;
  border-radius: 50%;
  margin-left:0rem;
}
.my_info {
  height: 24rem;
  width: 20rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: -43px;

}
.aBit{
  font-size: 23px;
  line-height: 30px;
  margin-bottom: 11px;
}
.introduction{
  font-size: 63px;
  line-height: 60px;
}
.name_user{
  font-size: 20px;
}

}