body {
  margin: 0;
    background-color: rgb(230,230,230);
}

#light{
  background-color: "white";
}
#dark{
  background-color: "black";
}
.name_user{
  margin-left: 6px;
  position: relative;
  top:-2px;
  font-size: 20px;
  font-family: proxima;
}
.name_user,.topnav-right a{
  margin-top:14px;

}
.topnav {
  overflow: hidden;
  background-color: rgb(230,230,230);
  height: 58px;
  margin-right: 1rem;
}

.topnav a {
  float: left;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;

}
.topnav .name_user:hover {
  background-color: #ddd;
  color: black;
  border-radius: 23px;
  height: 3rem;
  width: 15rem;
}
.topnav a:hover {
  background-color: #ddd;
  color: black;
  border-radius: 23px;
  height: 3rem;
  width: 7rem;
}

.topnav a.active {
  background-color: #04AA6D;
  color: white;
}

.topnav-right {
  float: right;
}

/*..............................................main.....................................topnav-right*/
/*main{
position: absolute;
top:12rem;
left: 23rem;
}*/

.image_holder{

}
 .my_image{
height: 24rem;
  width: 24rem;
  border-radius: 50%;
  margin-left:12rem;
}
.my_info{
 height: 24rem;
  width: 20rem;
margin: 1rem 0rem 0rem 3rem;
}
.introduction{
  font-size: 63px;
  line-height: 90px;
}
.aBit{
  font-size: 23px;
  line-height: 0px;
}
article{
  font-size: 13px;
}
.svg_circle{
  display: flex;
  flex-direction: row;
}
.projects{
  margin-top: 34px;
  background-color: black;
}

/*........................................footer content ...........................................*/
.footer_container{
  background-color:#272727;
  width:100%;
  height:15rem;
  margin-top: 3rem;
}
.container{
  margin-top: 33rem;
  background-color:lightblue;
}
.icon_container{
  display: flex;
  justify-content: center;
  margin-left:1rem;
}
.github,.linkedIn,.fb{
  background-color: white;
  border-radius: 50%;
  width: 30px;
  height: 29px;
  margin: 3rem 1rem auto;
}
.text_container_footer{
  margin-top: 40px;
  color: white;
  text-align: center;
}
.icon_container > a{
  color: black;
}
.copyright{
  color:#808080;
}