.container{
	height:auto;
	width:787px;
	margin-top:6rem;
}
.title_project{
	font-size: 23px;
	text-align:center;
	margin-top: -3rem;
}
.description{
	font-size: 15px;
margin:1rem 0rem 0.5rem 24rem;
	text-align: center;
	width: 37rem;
}
.card_container{
	margin:7rem 7rem 2rem 2rem;
/*	background-color: grey;*/

}
.card_main_container{
	display: flex;
	flex-wrap: wrap;
	margin:2rem 2rem 4rem 5rem;
}
.image{
	width: 10rem;
  height: 9rem;
  border-radius: 50%;
  margin:23px 10px 13px 43px;
}
.card{
	height: auto;
  width: 16rem;
  margin:1rem 0rem 1rem 2rem;
  border-radius: 20px;
  z-index: -1;
  }
  .image_title{
  	font-size: 15px;
  	text-align: center;
  	font-weight: bold;
  	margin:0px 3rem;
  }
  .project_description{
  	font-size: 13px;
  	margin: 9px 2rem;
  	border-radius: 5px;
  }
  .card :hover{
box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  }
 .allCard{
 	background-color: black;
 }
.project_head{
	margin:10rem 0px 0px 1rem;
}
/*.........................................................responsive........................*/
@media (max-width:512px){
.project_head {
 margin:10rem 0px -15rem -1rem;
  text-align: center;
}
.description {
 font-size: 12px;
    margin: 12px 0px 40px 4rem;
    text-align: center;
    width: 18rem;
    text-align: center;
}
.card_holder{
	margin: 14rem 1rem -36rem -2rem;
	z-index: -1;
}
.card{
	height: auto;
  width: 16rem;
  margin:1rem 0rem 23rem 2rem;
  border-radius: 20px;
  }
.card_main_container{
	margin-bottom: 23rem;
}

}

@media (max-width: 360px) {
  .project_head {
    margin: 10rem 0px -15rem -28px;
    text-align: center;
  }
  .title_project {
  margin-left: 28px;
}
  .card_main_container {
    margin-left: 3rem;
  }
}

/*..........................................responsive (galaxy note 20 android 11)...................*/

@media (max-width:512px){
.card_holder{
  margin: 14rem 1rem -36rem -3rem;
}
  .container_main {
    margin: 3rem 1rem;
  }

    }