
.container{
	height: auto;
	width:69%;
	margin-top: 19rem;
	}
.user_image_padam{
	height:127px;
	width:121px;
	border-radius:64px;
	margin-right:32px;
}
.inner_container{
	display:flex;
	margin-top: 161px;
}
.portfolio_user{
	font-size: 32px;
	font-weight: bold;
}

.short_information > p{
            font-size: 13px;
            line-height: 0.9;
            width: 21rem;
        }

   .link{
   	margin:34px 0px 0px 200px;
   	width: 5rem;
   }
  .link > a{
  	font-size: 13px;
  	text-decoration: none;
  	color:black;
  }
.titleSkills,.titleProjects,.titleInterest,.certificates{
	font-size: 17px;
	color: red;
}
.listSkills{
	display: flex;
	flex-wrap: wrap;
	width: 30rem;
}
table tr > td {
	padding-left: 53px;
}
table tr  td > a {
	padding-left: 53px;
	text-decoration: none;
	color:purple;
}

.project,.skills,.interest,.certificates{
	margin-top:23px;
}
.head_top_content{
	margin-left: -1rem;
}

/*.....................................responsive*/

@media (max-width:512px){

.container{
width: 20%;
margin-left: -38rem;

	}
.inner_container{
	display:flex;
	flex-direction: column;
	margin: 7rem 2rem -2rem 36rem;
	 width: 23rem;

}

.portfolio_user{
	font-size: 22px;
	font-weight: bold;
	margin-left: 10rem;
	 width:10rem;
}
.user_image_padam{
	margin:0px 0px 10px 169px;


}
.short_information > p{
            font-size: 10px;
            line-height: 0.9;
            width: 20rem;
          	text-align: center;
          	margin-left: 5rem;
        }
  .short_information > .icons_container{
  	margin-left: 120px;
  	max-width: 16rem;
  	line-height: 1.5;


  }
   .link{
   	margin:34px 0px 0px 179px;
   	width: 5rem;


   }
   .link :hover{
   	color: green;

   }

  .ShortDescription{
	font-size: 12px;
	max-width: 24rem;
	text-align: justify;


	  }
	  .project,.skills,.interest,.certificates{
	margin: 1rem 1rem 1rem 38rem;
}
table tr > td {
	margin-left: 175rem;
	padding-left:17px;
	width: 11rem;
	 padding-right: 3px;

	
}
	table tr td > a {
padding-left: 3px;
    width:11rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    font-size: 13px;

    
}
.listSkills{
	display: flex;
	flex-wrap: wrap;
	max-width: 22rem;
	height: auto;
	 font-size: 13px;

}
.listInterest{
	font-size: 13px;
	width: 24rem;
	display: flex;
	flex-wrap: wrap;

}
.horizontal_line{
	width: 23rem;
}

}


/*..................................................responsive (galaxy $20 android 11)*/



@media (max-width:360px){

.inner_container{
	display:flex;
	flex-direction: column;
	margin: 7rem 2rem -2rem 35rem;
	 width: 23rem;
}
  .project, .skills, .interest, .certificates {
    margin: 0rem 1rem 1rem 37rem;
  }
  .listInterest {
    width: 22rem;
  }
    table tr td > a {
    width: 9rem;
  }
   table tr > td {
    margin-left: 175rem;
    padding-left: 27px;
    width: 85px;
}
.titleSkills, .titleProjects, .titleInterest, .certificates {
  font-size: 17px;
  color: red;
  margin-left: 15px;
}
}


/*..........................................responsive (galaxy note 20 android 11)...................*/

@media (max-width:512px){
.inner_container{
	display:flex;
	flex-direction: column;
	margin: 7rem 2rem -2rem 35rem;
	 width: 23rem;
}
.listInterest {
    font-size: 13px;
    width: 20rem;
  
  }
  table tr td > a {
        width: 10rem;
   
  }
}